body{
    margin: 0;
    padding: 0;
}

.certificate_frame{
    height: 100vh;
    width: 80%;
    margin: 5em;
    border: 1px solid black;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
}