<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theme 2</title>
    <link rel="stylesheet" href="theme2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <div id="header">
        <a href=""><img src="images/Birla_Logo.png" alt="" id="logo"></a>
    </div>
    <p id="firstHeading">Certificate of Excellence</p>
    <p id="textArea">This certificate is awarded to Mr./Ms Chinmay Pathak of Birla Institute of Applied
        Sciences
        for
        his/her participation in Badminton and securing 1st position.</p>
    <h4>Prof. Sandesh</h4>
</body>

</html>